.error {
    color: red;
}

#flashed-message {
    position: fixed;
    background-color: #f00;
    color: #fff;
    top: 70px;
    right: 20px;
    z-index: 10;
}

#flashed-message strong {
    padding: 1em;
}

.right-export {
    position: absolute;
    top: 105px;
    right: 58px;
    z-index: 10;
}